table {
  border-collapse: collapse;
  width: 600px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}
  
td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:hover {
  background-color: #e0e0e0;
}

h2 {
  text-align:center;
}
  
@media (max-width: 750px) {
  table {
    width: 100%;
  }
}